<%= form_tag(new_operation_path, method: :get) do %>
  <table class="table table-borderless">
    <tbody>
      <tr>
        <th style="width: 15%">
          <%= label_tag(:seed, t(:label_seed_optional)) %>
        </th>
        <td>
          <%= text_field_tag(:seed, params[:seed]) %>
          <img src="/assets/info.svg" title="<%= t(:tip_seed_optional) %>">
        </td>
      </tr>
      <tr>
        <th>
          <%= label_tag(:min_digits, t(:label_min_digits)) %>
        </th>
        <td>
          <%= text_field_tag(:min_digits, params[:min_digits], :value => 3) %>
          <img src="/assets/info.svg" title="<%= t(:tip_min_digits) %>">
        </td>
      </tr>
      <tr>
        <th>
          <%= label_tag(:max_digits, t(:label_max_digits)) %>
        </th>
        <td>
          <%= text_field_tag(:max_digits, params[:max_digits], :value => 3) %>
          <img src="/assets/info.svg" title="<%= t(:tip_max_digits) %>">
        </td>
      </tr>
      <tr>
        <th>
          <%= label_tag(:fix_digits_for_multiplier, t(:label_fixed_digits_for_multiplier)) %>
        </th>
        <td>
          <%= text_field_tag(:fixed_digits_for_multiplier, params[:fixed_digits_for_multiplier], :value => '') %>
          <img src="/assets/info.svg" title="<%= t(:tip_fixed_digits_for_multiplier) %>">
        </td>
      </tr>
      <tr>
        <th>
          <%= label_tag(:fixed_digits_for_divisor, t(:label_fixed_digits_for_divisor)) %>
        </th>
        <td>
          <%= text_field_tag(:fixed_digits_for_divisor, params[:fixed_digits_for_divisor], :value => '') %>
          <img src="/assets/info.svg" title="<%= t(:tip_fixed_digits_for_divisor) %>">
        </td>
      </tr>
      <tr>
        <th>
          <%= label_tag(:quantity_of_each_operation, t(:label_quantity_of_each_operation)) %>
        </th>
        <td>
          <%= text_field_tag(:quantity_of_each_operation, params[:quantity_of_each_operation], :value => 1) %>
          <img src="/assets/info.svg" title="<%= t(:tip_quantity_of_each_operation) %>>">
        </td>
      </tr>
      <tr><th></th><td><%= check_box_tag(:with_answers, params[:with_answers]) %> <%= t(:label_with_answers) %></td></tr>
      <tr><th></th><td><%= check_box_tag(:addition, params[:addition], :value => true) %> <%= t(:label_addition) %></td></tr>
      <tr><th></th><td><%= check_box_tag(:subtraction, params[:subtraction], :value => true) %> <%= t(:label_subtraction) %></td></tr>
      <tr><th></th><td><%= check_box_tag(:multiplication, params[:multiplication], :value => true) %> <%= t(:label_multiplication) %></td></tr>
      <tr><th></th><td><%= check_box_tag(:division, params[:division], :value => true) %> <%= t(:label_division) %></td></tr>
      <tr><th></th><td><%= submit_tag(t(:label_generate)) %></td></tr>
    </tbody>
  </table>
<% end %>

<!--TODO labels, translation, bootstrap-->